


@{
    ViewData["Title"] = "Inico de Sesion";

}
<h1>sesiion iniciada</h1>

@using (Html.BeginForm("RegistrarHoraFecha", "Employe", FormMethod.Post))
{
    
}
<form asp-action="">
    <input type="submit" asp-action="RegistrarHoraFecha"  value="Registrar Hora y Fecha" />
</form>