@model Employe
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">SIS</h2>
    
    
    <h3>Sistema De Ingreso y Salida</h3>
    
</div>





<div>    
    <a asp-controller="Employees" asp-action="Index" class="btn btn-primary">Index Employees</a>
    <a asp-controller="Employees" asp-action="Create" class="btn btn-primary">Create Employees</a>
    <a asp-controller="Employees" asp-action="Login" class="btn btn-primary">Delete Employees</a>
</div>